@charset "UTF-8";
* {
  font-family: 微軟正黑體, Arial, Helvetica, sans-serif;
  position: relative;
  vertical-align: top;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  line-height: 100%;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  font-weight: 500;
}

p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 24px;
  margin-top: 24px;
}

.btn {
  width: 160px;
  height: 44px;
  font-size: 14px;
  font-weight: 600;
  color: #fcfcfe;
  border: 2px solid transparent;
  background-color: #ff4747;
  border-radius: 4px;
  letter-spacing: 0px;
  cursor: pointer;
}
.btn:hover {
  color: #fcfcfe;
  background-color: transparent;
  border-color: #ff4747;
}

.content-area {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 32px;
}

.margin-topbottom {
  padding: 48px 0px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #1d1d1e;
}

#header-inner {
  color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  max-width: 1440px;
  /* 限制容器最大寬度 */
  margin: 0 auto;
  letter-spacing: 1px;
}
#header-inner a {
  text-decoration: none;
  color: #f4f4f4;
}

.logo,
.nav-right {
  max-width: 200px;
  width: 30%;
  height: 70px;
}

.logo {
  font-size: 40px;
  text-align: left;
  font-weight: bolder;
  line-height: 70px;
}

.navbar {
  max-width: 350px;
  width: 40%;
  margin: auto auto;
  font-size: 16px;
  font-weight: bolder;
}
.navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 0.3vw;
}
.navbar li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 70px;
  width: 50%;
  border-bottom: 3px solid transparent;
  white-space: nowrap;
  cursor: pointer;
}
.navbar li:hover {
  border-color: #ff4747;
}

.nav-right,
.btnitem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-right {
  gap: 0.3vw;
}
.nav-right .btnitem {
  height: 70px;
  width: 33%;
  font-size: 12px;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}
.nav-right .btnitem:hover {
  border-color: #ff4747;
}

main {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.row-first {
  background-image: url(./images/bg/index-first-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  min-height: 960px;
}

.first-row-01 {
  flex-grow: 0.6;
  top: -100px;
  height: 100%;
  padding: 32px 32px;
  color: #fcfcfe;
}
.first-row-01 .first-btn-style {
  margin-top: 32px;
}

.row-second {
  color: #fcfcfe;
  background-color: #1d1d1e;
}

.secnod-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.secnod-row-01 {
  text-align: center;
  max-width: 580px;
  margin-top: 64px;
}
.secnod-row-01 h3 {
  margin: 0;
}

.secnod-row-02 {
  margin-top: 48px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.secnod-row-02 .item {
  width: 100%;
  text-align: center;
  padding: 16px 16px;
  white-space: nowrap;
  border-bottom: 4px solid #f4f4f4;
  cursor: pointer;
}
.secnod-row-02 .item:hover {
  border-color: #ff4747;
}

.secnod-row-03 {
  margin: 32px 0px;
}
.secnod-row-03 .r3-col-01 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3%;
}
.secnod-row-03 .r3-col-01 div:first-of-type {
  width: 60%;
}
.secnod-row-03 .r3-col-01 div:last-of-type {
  width: 40%;
}
.secnod-row-03 .r3-col-01 h3 {
  font-weight: 500;
}
.secnod-row-03 .r3-col-01 img {
  width: 100%;
}

.row-thirdth {
  width: 100%;
  background-color: #f4f4f4;
}

.thirdth-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.thirdth-row-01 {
  margin-top: 64px;
  text-align: center;
}

.thirdth-row-02 {
  display: flex;
  align-items: center;
  height: auto;
  color: white;
  background-image: url(./images/pictrue/row-thirdth-col2-01.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 32px;
  padding: 24px 0px;
}
.thirdth-row-02 .r2-col-01,
.thirdth-row-02 .r2-col-02 {
  width: 50%;
}
.thirdth-row-02 .r2-col-02 {
  padding: 72px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.thirdth-row-02 p {
  margin: 0;
}

.thirdth-row-03 {
  width: 100%;
  display: flex;
  margin-top: 24px;
  justify-content: space-between;
  gap: 16px;
}
.thirdth-row-03 .r3-col {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.thirdth-row-03 .r3-col p {
  margin-top: 8px;
  font-weight: 500;
}
.thirdth-row-03 .r3-picture {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  background-color: #eb9797;
}
.thirdth-row-03 img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.row-fourth {
  background-color: #fcfcfe;
}
.row-fourth * {
  border: 1px solid red;
}

.fourth-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.fourth-row-01 {
  margin-top: 64px;
}

.fourth-row-02 {
  width: 100%;
  margin-top: 72px;
  display: flex;
  justify-content: space-between;
}
.fourth-row-02 .r4-col {
  height: auto;
  width: 20%;
  aspect-ratio: 1/1;
}

.fourth-row-03 {
  margin-top: 72px;
  height: 10px;
  width: 80%;
}

.fiveth-row {
  background-color: #444647;
}
.fiveth-row * {
  border: 1px solid red;
}
.fiveth-row .fiveth-row-01,
.fiveth-row .fiveth-row-02 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.fiveth-row .fiveth-row-02 {
  flex-direction: row-reverse;
}
.fiveth-row .r4-col-01,
.fiveth-row .r4-col-02 {
  width: 50%;
  height: auto;
  aspect-ratio: 1/1;
}
.fiveth-row .r4-col-01 {
  background-color: #fff;
  background-image: url(./images/pictrue/row-second-item-01.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.fiveth-row .r4-col-02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 640px;
  width: 50%;
  padding: 32px;
  color: #fcfcfe;
}
.fiveth-row .r4-col-02 .btn {
  margin-top: 32px;
}
.fiveth-row .text-area-01 {
  padding-left: 32px;
}
.fiveth-row .text-area-02 {
  padding-right: 32px;
}

.row-sixth {
  background-color: #f4f4f4;
}
.row-sixth * {
  border: 1px solid red;
}

.sixth-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.sixth-row-01 {
  margin-top: 64px;
}

.sixth-row-02 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 72px;
}
.sixth-row-02 .r5-col {
  height: auto;
  width: 12%;
  aspect-ratio: 1/1;
  background-color: #cecece;
}

.sixth-row-03 {
  margin-top: 72px;
  height: 10px;
  width: 80%;
}

.row-seventh {
  background-image: url(./images/bg/index-seventh-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.seventh-row {
  height: 400px;
  width: 100%;
}

footer {
  color: #fcfcfe;
}

.footer-top {
  background: #444647;
}
.footer-top .toprow-01 {
  min-height: 100px;
}

.footer-bottom {
  background: #1d1d1e;
}

.bottom-frow-01 {
  min-height: 300px;
  display: flex;
  justify-content: space-between;
  gap: 32px;
  width: 100%;
}
.bottom-frow-01 ul, .bottom-frow-01 li {
  padding: 0;
  margin: 0;
}
.bottom-frow-01 li {
  list-style: none;
  line-height: 24px;
  font-size: 16px;
  margin-top: 12px;
}
.bottom-frow-01 ul li:first-child {
  margin: 24px 0;
  font-size: 20px;
  font-weight: 600;
}
.bottom-frow-01 .fcol-left {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.bottom-frow-01 .fcol-left .left-col {
  width: 32%;
}
.bottom-frow-01 .fcol-right {
  width: 300px;
}
.bottom-frow-01 .fcol-right h4 {
  line-height: 24px;
  margin-top: 24px;
  font-weight: 600;
}

.bottom-frow-02 {
  display: flex;
  justify-content: space-between;
}

.row-sixth {
  display: none;
}/*# sourceMappingURL=webindex.css.map */